:root {
  font-size: calc(100vh / 55); }

* {
  margin: 0;
  padding: 0; }

body {
  background: #bada55; }

button {
  font-size: 1rem; }

#app {
  margin: 0 auto; }

.main-panel {
  width: 50rem;
  height: 2rem;
  border: 1rem solid black;
  border-bottom: 0;
  display: flex;
  justify-content: space-around; }

.game_grid {
  border: 1rem solid black;
  width: 50rem;
  height: 50rem;
  display: flex;
  flex-wrap: wrap; }

.game_block {
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border: 1px solid white; }

.wall {
  background: gray; }

.pass {
  background: #fffaaa; }

.enter {
  background: orange; }

.exit {
  background: red; }

.main-pass {
  background: blueviolet; }
