.logo{
  background: url("img/labyrinth.png") no-repeat;
  background-size: 100% 100%;
  height: 20vw;
  width: 20vw;
  margin: 1vw;
}

.entry__UI{
  height: 100%;
  width: 100%;
  background: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    font-size: 4vw;
  }
  h2{
    font-size: 2vw;
  }
  button{
    width: 25%;
    height: 3vw;
    font-size: 2vw;
  }
}