.menu__standard{
  height: 100%;
  width: 100%;
  background: #994a12;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1{
    width: 100%;
    height: 20%;
    font-size: 6vw;
    margin-top: 5%;
  }
  .menu__content{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: space-evenly;
    h3{
      font-size: 4vw;
    }
    .difficulty__box{
      width: 30%;
      height: 100%;
      ul{
        font-size: 3vw;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        align-items: center;
        li{
          width: 80%;
          height: 4vw;
          border: 3px solid black;
          line-height: 4vw;
          cursor: pointer;
          background-color: #8d3011;
        }
        li:hover{
          transform: scale(1.1);
        }
        .selected{
          background-color: darkorange;
        }
      }
    }
    .main{
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .play{
        background-color: darkorange;
        font-size: 6vw;
        border: 3px solid black;
        height: 8vw;
        line-height: 8vw;
        cursor: pointer;
      }
      .play:hover{

        transform: scale(1.1);
      }
      .credits{
        background-color: #8d3011;
        height: 8vw;
        border: 3px solid black;
        font-size: 6vw;
        line-height: 8vw;
        cursor: pointer;
      }
      .credits:hover{
        transform: scale(1.1);
      }
    }
    .character__selection{
      width: 30%;
      height: 100%;
      .character__slider{
        background-color: #8d3011;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 80%;
        border: 3px solid black;
        margin: 0 auto;
      }
    }
  }
}

.character{
  height: 64px;
  width: 64px;
  background: url("../../../assets/img/Player1.png");
  overflow: hidden;
}
.in__menu{
  transform:scale(3);
}
.standby{
  background-position-y: -768px;
  /*animation: standby 1s steps(8) infinite;*/
}
.move-down{
  background-position-y: -640px;
  animation: move-down 0.5s steps(8) infinite;
}
.move-up{
  background-position-y: -512px;
  animation: move-up 0.5s steps(8) infinite;
}
.move-left{
  background-position-y: -576px;
  animation: move-left 0.5s steps(8) infinite;
}
.move-right{
  background-position-y: -704px;
  animation: move-right 0.5s steps(8) infinite;
}
@keyframes move-down {
  0% { background-position-x: 0; }
  100% { background-position-x: -512px; }
}
@keyframes move-up {
  0% { background-position-x: 0; }
  100% { background-position-x: -512px; }
}
@keyframes move-right {
  0% { background-position-x: 0; }
  100% { background-position-x: -512px; }
}
@keyframes move-left {
  0% { background-position-x: 0; }
  100% { background-position-x: -512px; }
}
@keyframes standby {
  0% { background-position-x: 0; }
  100% { background-position-x: -512px; }
}