:root{
  font-size: calc(90vw / 50);
}
*{
  margin: 0;
  padding: 0;
}

body{
  background: dimgray ;
}
button {
  font-size: 0.7rem;
  height: 1rem;
  position: absolute;
}

#app{
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}
