@font-face {
  font-family: ARCADECLASSIC;
  src: url("../../styles/fonts/ARCADECLASSIC.woff");
}
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: ARCADECLASSIC, apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: url("../../assets/img/wall.png");
}
#root{
  height: 90vh;
  width: 90vw;
  margin: 5vh 5vw;
}

