.credits__box{
  width: 30%;
  height: 100%;
  background: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  h2{
    font-size: 4vw;
  }
  .button{
    width: 50%;
    font-size: 3vw;
    height: 3vw;
    border: 2px solid black;
    line-height: 3vw;
    cursor: pointer;
    margin-bottom: 1vw;
  }
}