.game_grid{
  border: 1rem solid black;
  width: 50rem;
  height: 50rem;
  display: flex;
  flex-wrap: wrap;
}
.game_block{
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border: 1px solid white;
}
.wall{
  background: gray;
}
.pass{
  background: #fffaaa;
}
.enter{
  background: orange;
}
.exit{
  background: red;
}