.game_grid{
  background: url("textures/grass.png");
  height: 88vh;
  width: 88vh;
}
.game_block{
  float: left;
}
.wall{
  background: url("textures/stone.png");
  background-size: contain;
}
.pass {
}
.enter{
  background: url("textures/enter.png");
  background-size: contain;
}
.exit{
  background: url("textures/exit.png");
  background-size: contain;
}
.in__game{
  position: relative;
}

