.game__container{
  height: 88vh;
  width: 88vh;
  overflow: hidden;
}
.player__shadow {
  position: relative;
  border-radius: 50%;
  background-color:rgba(0,0,0,0.5);
  display: inline-block;
}
.player__shadow div{
  position: relative;
}
